.icons-container{
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-top: 30px;
    padding-bottom: 5rem;
    
}
.icons {
    border: 2px solid #16A085;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 5px 10px #57978a ;
}


.icons-container .icons i{
    font-size: 4.5rem;
    color: #16A085;
    padding-bottom: .7rem;
}

.icons-container .icons h3{
    font-size: 3.5 rem;
    padding: .5rem 0;
}

.icons-container .icons p{
    font-size: 1.7rem;
    color:var(--light-color);
}