.footer-link a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  font-weight: bold;
  line-height: 35px;
}

.gradient {
  background: #35996a;
  background: linear-gradient(
    0deg,
    #3d8b66 100%
    #32a86f 0%,
  );
}
.copyright {
  background-color: #3d8b66;
}

.dropdown-menu.show {
  left: -126px;
  padding: 11px;
}