.common-button{
    background-color: #32a86f;
    padding: 5px 30px;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.4s;
    border: none;
    margin: 2px solid #16A085;
}
.common-button:hover {
    background-color: #16A085;
    color: white;
    transform: scale(1.05);
}
.card-name{
    color: #16A085;
}
.card-rating{
    color: gold;
}
.service-cad{
    border-radius: 10px;
    background-color: #bbe4dc;
    transition: 0.4s;
}
.service-cad:hover{
    transform: scale(1.05);
}
.service-carosol{
    height: 600px;
    width: 700px;
}